body {
    background-color: rgb(254, 254, 255);
    margin:0px
}

header {
    background-color: darkorange;
}


.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
}

body > main > article {
    width: 70%;
    margin: auto;
}
form {
    text-align: center;
}

h2 {
    text-align: center;
}

img{
    border-radius: 50%;
}

footer {
    background-color: orange;
}

